/*
  Name: Scott Nguyen & Peijie Zheng
  Date: 5/4/2024
  Section: CSE 154 AB - Elias Belzberg, Quinton Pharr

  This is the product-detail.css file that applies the general styling rules to
  the product detail page.
*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
}

li {
  margin-bottom: 10px;
  font-size: 16px;
}

#title {
  font-weight: 600;
  font-size: 24px;
}

#product {
  width: 50%;
  text-align: center;
}

#product img {
  width: 650px;
  height: 500px;
  object-fit: contain;
}

#detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#detail section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

#type {
  font-size: 24px;
  font-weight: 500;
}

#price {
  font-size: 24px;
  font-weight: 600;
}

#detail h2,
#detail h3,
#detail p {
  margin: 0;
}

#add-to-cart {
  margin: 0px auto 20px auto;
  color: white;
  background-color: #414141;
  width: 200px;
  height: 50px;
}

#cart-status {
  border-radius: 18px;
  padding: 20px 30px;
  width: 350px;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  border: 2px solid #5F5D5D;
}

#cart-status div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

#cart-status div img {
  height: fit-content;
  width: fit-content;
}
